menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}
menu .nav-item {
    font-size: x-large;
    padding: 0 0.3em;
}

nav > img {
    height: 7vh;
    padding-left: 5px;
    padding-right: 5px;

}
.navbar-brand {
    font-size: xx-large;
    padding-left: 0.3em;
    border-bottom: solid purple thick;
    border-left: solid purple thick;
}
header {
    flex: 0 10vh;
    border-bottom: solid purple thin;
}

main {
    flex: 1 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.lobby-info {
    font-size: xx-large;
}
.lobby-info > li {
    display: block;
}
.gamesWon {
    color: rgb(142, 23, 142);
    position: relative;
}
.JoinGame {
    position: absolute;
    top: 25vh;
    text-align: center;
    font-size: 3vh;
    width: wrap;
    height: wrap;
    border-radius: 10px;
    border: solid thin rgb(142, 23, 142);
  }
  t {
    position: absolute;
    font-size: larger;
  }
#player3cards > img {
    position: absolute;
    top: 50%;
    margin-top: -10vh;
    left: 25vw;
  }
#player2cards > img{
    position: absolute;
    top: 50vh;
    margin-top: -10vh;
    right: 25vw;
  }
#player1cards > img{
    position: absolute;
    top: 15vh;
    left: 50vw;
    margin-left: -7.5vh;

}
#thisCards > img{
    position: absolute;
    bottom: 15vh;
    text-align: center;
    left: 50%;
    margin-left: -7.5vh;
}
.bidding {
    position: absolute;
    right: 30vh;
    bottom: 15vh;
}
.remainingCards {
    position: absolute;
    display: inline;
    left: 6.5vw;
    bottom: 13vh;
    width: 700px;
    height: 200px;
}
.noEvents {
    pointer-events: none;
}
.remainingCards > img {
    display: inline-block;
}
body {
    display: flex;
    flex-direction: column;
}

.player-list {
    font-size: 2.5vh;
    color: black;
}
.card {
    height: 180px;
    width: 135px;
}

footer {
    flex: 0 10vh;
}